.inner-container {

    display: flex;
  justify-content: space-between;

.contact-text {
  padding-top: 50px;
  padding-right: 90px;
  width: 40%;
    ul {
        display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding: 0;

    li {
        position: relative;
        display: block;
        font-size: 30px;
        height: 60px;
        width: 60px;
        line-height: 60px;
        border-radius: 50%;
        margin: 0 15px;

        i {
            color: black;
            font-size: 1.6rem;
        }
        
        &:hover {
            transform: scale(1.2);
            .fa-linkedin-in {
                color: blue;
            }
            .fa-envelope {
                color: rgb(241, 92, 46);
            }
            .fa-twitter {
                color: cyan;
            }
            .fa-github {
                color: #171515;
            }
        }
    }
        a {
            padding: 11px 15px 11px;
        
        }
    }
}

  .contact-input {
    width: 80%;
    display: flex;
  flex-direction: column;
  padding-top: 70px;

input,
textarea {
  padding: 0 0 10px 5px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: grey;
  &::placeholder {
    font-size: 0.8rem;
    color: $primary;
    opacity: 1;
    line-height: 1rem;
    text-transform: uppercase;
  }
  &:focus {
    border-bottom: 2px solid #EBF8FF;
  }
}

textarea {
  min-height: 130px;
  border: 2px solid $primary;
}
}
}

button {
  color: $primary;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid $primary;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: $primary;
    color: $solidWhite;
  }
  &:focus {
    background-color: $primary;
    color: $solidWhite;
  }

}
