header {
    height: 100vh;
}

.headerDisplay {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    
    .text-container {
        flex-direction: column;
    }
    
    a {
        text-decoration: none;
        margin-top: 25px;
        width: 40%;
    }
    
    .image-container {
        width: 45%;
        img {
            max-width: 100%; 
            vertical-align: middle;
        }
    }
}


