@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');

#logo1 {
    position: absolute;
    left: 150px;
    // top: -85px;
    display: inline-block;
    font-size: 100px;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    color: cyan;
    font-family: 'Roboto', sans-serif;
}

#logo2 {
    position: absolute;
    left: 158px;
    // top: -110px;
    display: inline-block;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-stretch: ultra-expanded;
    color: rgb(241, 92, 46);
}