@media (max-width: 1100px) {
    .projects {
        .portfolioOne,
        .portfolioTwo,
        .portfolioThree,
        .portfolioFour {
        .modalOne,
        .modalTwo,
        .modalThree,
        .modalFour {
            h3 {
                font-size: 1.2rem;
            }
            
            p {
                font-size: 0.8rem;
            }
            
            li {
                padding: 4px 8px;
            }

        }
        }
        .project-btn {
        padding: 6px 10px;
        font-size: 1rem;
        line-height: 0.8rem;
        cursor: pointer;
        }
    }
}

@media (max-width: 1000px) {
        .image-container  {
            display: none;
        }

   .about {
       .aboutMatrix {
           flex-direction: column;
           align-items: center;

           .textContainer {
               width: 100%;
               padding-bottom: 30px;
           }
      }
   }
   .contact {
       .contact-text {
           width: 40%;
           ul {
               li {
                   i {
                       font-size: 1.2rem;
                   }
               }
           }
       }
           .contact-input {
               width: 90%;
               margin: 0;
           }
   }

   footer {
        padding: 10px;
   }
 
}

@media (max-width: 850px) { 
     .projects {
       .firstRow,
       .secondRow {
           flex-direction: column;
       }

       .portfolioOne,
        .portfolioTwo,
        .portfolioThree,
        .portfolioFour {

            .modalOne,
        .modalTwo,
        .modalThree,
        .modalFour {


            h3 {
                font-size: 2rem;
            }
            
            p {
                font-size: 1rem;
            }

            li {
                padding: 8px 16px;
            }

        }
        }
        .project-btn {
        padding: 12px 24px;
        font-size: 1rem;
        line-height: 1.2rem;
            }
    }

    .contact {
        padding-bottom: 50px;
        .inner-container {
            flex-direction: column;
        }
       
    .contact-text {
        padding-bottom: 20px;
        width: 100%;

        h2, p {
            padding-left: 30px;
        }
           ul {
               justify-content: flex-start;
               flex-direction: row;
               li {
                   i {
                       font-size: 2rem;
                   }
               }
           }
       }
.contact-input {
               width: 100%;
               margin: 0;
           }
   }
}


@media (max-width: 550px) { 

    

    .about {
        .aboutMatrix {
            .image-profile {
                padding: 0;
            }
            
            .textContainer {
                padding-bottom: 50px;
            }
        }

    }


    .headerDisplay {
        .text-container {
            h1 {
                font-size: 0.6rem;
            }
        }
    }

    .menu_list {
        .menu_link {
            font-size: 2.1rem;
        }
    }

    .projects {
        .portfolioOne,
        .portfolioTwo,
        .portfolioThree,
        .portfolioFour {
        .modalOne,
        .modalTwo,
        .modalThree,
        .modalFour {
            h3 {
                font-size: 1.2rem;
            }
            
            p {
                font-size: 0.8rem;
            }
            
            li {
                padding: 4px 8px;
            }

        }
        }
        .project-btn {
        padding: 6px 10px;
        font-size: 1rem;
        line-height: 0.8rem;
        cursor: pointer;
        }
    }

}

@media (max-width: 450px) { 
    .headerDisplay {
        .text-container {
            h1 {
                font-size: 0.1rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

     .menu_list {
        .menu_link {
            font-size: 1.8rem;
        }
    }

    .contact {
    .contact-text {
        h2 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1rem;
        }
           ul {
               li {
                   i {
                       font-size: 1.5rem;
                   }
               }
           }
       }
   }



}


@media (max-width: 420px) { 
    .headerDisplay {
        .text-container {
            h1 span{
                font-size: 4rem;
            }

            .project-button {
                padding: 10px 24px;
            }
        }
    }

     .contact {
    .contact-text {
        padding: 0;
       }
   }

}


@media (max-width: 390px) { 
    .headerDisplay {
        .text-container {
            h1 span{
                font-size: 3.6rem;
            }

            p {
                font-size: 0.9rem;
            }

            .project-button {
               font-size: 11px;

            }

            
        }
    }
                .menu_list {
            .menu_link {
            font-size: 1.4rem;
            }
                }
}


@media (max-width: 350px) { 
    .headerDisplay {
        .text-container {
            h1 span{
                font-size: 3.2rem;
            }

            p {
                font-size: 0.8rem;
            }

            .project-button {
               font-size: 9px;
            }
            .project-button span{
              width: 2px;
              height: 8px;
            }

            
        }
    }
                .menu_list {
            .menu_link {
            font-size: 0.85rem;
            }
            }

             .contact {
    .contact-text {
           ul {
               li {
                   i {
                       font-size: 1rem;
                   }
               }
           }
       }
   }
}




