@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Karla:wght@200;400;700&family=Nanum+Pen+Script&family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1160px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}
h1 .space {
  padding-left: 12px;
}

p {
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

.smallerText {
  font-size: 1.2rem;
  font-family: "Nanum Pen Script", sans-serif;
}

.smallerTextZoom {
  font-size: 1.2rem;
  font-family: "Nanum Pen Script", sans-serif;
  color: #EA5534;
}

.learn {
  font-size: 1.4rem;
  font-family: "Nanum Pen Script", sans-serif;
  color: #EA5534;
}

.Juno {
  color: #EA5534;
}

h2 {
  font-family: "Karla", sans-serif;
  font-size: 2rem;
}

.project-button {
  font-family: sans-serif;
  position: relative;
  color: #084b6d;
  background-color: transparent;
  padding: 14px 36px;
  border: 2px solid #084b6d;
  font-size: 12.8px;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  z-index: 1;
}
.project-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #084b6d;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.project-button:hover::before {
  color: #fff;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.project-button:focus::before {
  color: #fff;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.project-button:hover {
  color: #fff;
}
.project-button:focus {
  color: #fff;
}
.project-button span {
  position: absolute;
  width: 3px;
  height: 10px;
  border-radius: 6px;
  background-color: rgb(241, 92, 46);
  -webkit-animation: move 1.1s infinite ease-in-out;
          animation: move 1.1s infinite ease-in-out;
}
.project-button span:nth-child(1) {
  margin-top: 7.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.project-button span:nth-child(2) {
  margin-top: 2.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section {
  padding-bottom: 100px;
}

.about .aboutMatrix {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about .aboutMatrix .textContainer {
  width: 50%;
}
.about .aboutMatrix .textContainer::before {
  content: "<p>";
  font-family: "Cedarville Cursive", cursive;
}
.about .aboutMatrix .textContainer::after {
  content: "</p>";
  font-family: "Cedarville Cursive", cursive;
}
.about .aboutMatrix .image-profile {
  padding-right: 50px;
}
.about .aboutMatrix .image-profile img {
  border-radius: 10px;
  max-width: 100%;
  vertical-align: middle;
}
.about .skillsSphere {
  padding-top: 50px;
}
.about .skillsSphere .myCanvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .skillsSphere .myCanvas canvas {
  width: 70%;
  height: 70%;
}

.projects {
  padding-top: 100px;
}
.projects .firstRow,
.projects .secondRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.projects .firstRow img,
.projects .secondRow img {
  border-radius: 25px;
  max-width: 100%;
  vertical-align: middle;
}
.projects .firstRow .portfolioOne,
.projects .firstRow .portfolioTwo,
.projects .firstRow .portfolioThree,
.projects .firstRow .portfolioFour,
.projects .secondRow .portfolioOne,
.projects .secondRow .portfolioTwo,
.projects .secondRow .portfolioThree,
.projects .secondRow .portfolioFour {
  position: relative;
}
.projects .firstRow .modalOne,
.projects .firstRow .modalTwo,
.projects .firstRow .modalThree,
.projects .firstRow .modalFour,
.projects .secondRow .modalOne,
.projects .secondRow .modalTwo,
.projects .secondRow .modalThree,
.projects .secondRow .modalFour {
  position: absolute;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  overflow: hidden;
}
.projects .firstRow .modalOne h3,
.projects .firstRow .modalTwo h3,
.projects .firstRow .modalThree h3,
.projects .firstRow .modalFour h3,
.projects .secondRow .modalOne h3,
.projects .secondRow .modalTwo h3,
.projects .secondRow .modalThree h3,
.projects .secondRow .modalFour h3 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.projects .firstRow .modalOne p,
.projects .firstRow .modalTwo p,
.projects .firstRow .modalThree p,
.projects .firstRow .modalFour p,
.projects .secondRow .modalOne p,
.projects .secondRow .modalTwo p,
.projects .secondRow .modalThree p,
.projects .secondRow .modalFour p {
  text-align: center;
  color: white;
  font-size: 1rem;
}
.projects .firstRow .modalOne ul,
.projects .firstRow .modalTwo ul,
.projects .firstRow .modalThree ul,
.projects .firstRow .modalFour ul,
.projects .secondRow .modalOne ul,
.projects .secondRow .modalTwo ul,
.projects .secondRow .modalThree ul,
.projects .secondRow .modalFour ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
.projects .firstRow .modalOne li,
.projects .firstRow .modalTwo li,
.projects .firstRow .modalThree li,
.projects .firstRow .modalFour li,
.projects .secondRow .modalOne li,
.projects .secondRow .modalTwo li,
.projects .secondRow .modalThree li,
.projects .secondRow .modalFour li {
  color: black;
  background-color: white;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 15px;
}
.projects .firstRow .modal-active,
.projects .secondRow .modal-active {
  visibility: visible;
  opacity: 1;
}
.projects .project-btn {
  margin: 10px;
  text-decoration: none;
  color: white;
  background-color: #EA5534;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
}
.projects .project-btn:hover {
  background-color: white;
  color: #EA5534;
}
.projects .project-btn:focus {
  background-color: #EA5534;
  color: #fff;
}

.contact {
  background-color: #EBF8FF;
}

footer {
  padding: 20px;
  background-color: #084b6d;
}
footer p {
  margin: 0;
  color: white;
  text-align: center;
}

.headerDisplay .text-container {
  -webkit-animation: article-load 300ms ease-in 300ms;
          animation: article-load 300ms ease-in 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

.headerImage .image-container {
  -webkit-animation: image-load 300ms ease-in 600ms;
          animation: image-load 300ms ease-in 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

.about {
  -webkit-animation: article-load 300ms ease-in 400ms;
          animation: article-load 300ms ease-in 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

@-webkit-keyframes nav-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nav-load {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes nav-links-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes nav-links-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes article-load {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes article-load {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes nav-last-link-load {
  0% {
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
  }
  90% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes nav-last-link-load {
  0% {
    -webkit-transform: translateX(1000%);
            transform: translateX(1000%);
  }
  90% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes move {
  0% {
    margin-left: 12px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: 12px;
  }
}
@keyframes move {
  0% {
    margin-left: 12px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: 12px;
  }
}
@-webkit-keyframes image-load {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes image-load {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
#Code {
  -webkit-animation: code 5s ease-in infinite;
          animation: code 5s ease-in infinite;
}

@-webkit-keyframes code {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes code {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
#space {
  -webkit-animation: light 1s ease-in infinite;
          animation: light 1s ease-in infinite;
}

@-webkit-keyframes light {
  0% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes light {
  0% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
#key17 {
  -webkit-animation: key 1s ease-in-out infinite;
          animation: key 1s ease-in-out infinite;
}

@-webkit-keyframes key {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

@keyframes key {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}
#key13 {
  -webkit-animation: keys 1s ease-in-out infinite;
          animation: keys 1s ease-in-out infinite;
}

@-webkit-keyframes keys {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}

@keyframes keys {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
}
@-webkit-keyframes bg-animation {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
@keyframes bg-animation {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
#logo1 {
  position: absolute;
  left: 150px;
  display: inline-block;
  font-size: 100px;
  font-weight: bolder;
  font-stretch: ultra-expanded;
  color: cyan;
  font-family: "Roboto", sans-serif;
}

#logo2 {
  position: absolute;
  left: 158px;
  display: inline-block;
  font-size: 100px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-stretch: ultra-expanded;
  color: rgb(241, 92, 46);
}

header {
  height: 100vh;
}

.headerDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 200px;
}
.headerDisplay .text-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.headerDisplay a {
  text-decoration: none;
  margin-top: 25px;
  width: 40%;
}
.headerDisplay .image-container {
  width: 45%;
}
.headerDisplay .image-container img {
  max-width: 100%;
  vertical-align: middle;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.stretch {
  font-size: 70px;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}

.stretch:hover {
  display: inline-block;
  cursor: pointer;
  -webkit-animation: animation 1s ease-in-out forwards;
          animation: animation 1s ease-in-out forwards;
  color: CYAN;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
body {
  position: relative;
}

.btn {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}
.btn:hover {
  cursor: pointer;
}
.btn span {
  width: 30px;
  height: 4px;
  background-color: rgb(241, 92, 46);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn span:nth-child(1) {
  top: 20%;
}

.btn span:nth-child(2) {
  top: 80%;
}

.btn.is-active span {
  background-color: white;
}

.btn.is-active span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn.is-active span:nth-child(2) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu {
  background: #084b6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 1;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 10px;
}

.menu_item:not(:last-child) {
  margin-bottom: 30px;
}

.menu_link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-decoration: none;
}

.menu_link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: red;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.menu_link:hover:after {
  width: 100%;
}

.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.inner-container .contact-text {
  padding-top: 50px;
  padding-right: 90px;
  width: 40%;
}
.inner-container .contact-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
.inner-container .contact-text ul li {
  position: relative;
  display: block;
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
}
.inner-container .contact-text ul li i {
  color: black;
  font-size: 1.6rem;
}
.inner-container .contact-text ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.inner-container .contact-text ul li:hover .fa-linkedin-in {
  color: blue;
}
.inner-container .contact-text ul li:hover .fa-envelope {
  color: rgb(241, 92, 46);
}
.inner-container .contact-text ul li:hover .fa-twitter {
  color: cyan;
}
.inner-container .contact-text ul li:hover .fa-github {
  color: #171515;
}
.inner-container .contact-text ul a {
  padding: 11px 15px 11px;
}
.inner-container .contact-input {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
}
.inner-container .contact-input input,
.inner-container .contact-input textarea {
  padding: 0 0 10px 5px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: grey;
}
.inner-container .contact-input input::-webkit-input-placeholder, .inner-container .contact-input textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1rem;
  text-transform: uppercase;
}
.inner-container .contact-input input::-moz-placeholder, .inner-container .contact-input textarea::-moz-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1rem;
  text-transform: uppercase;
}
.inner-container .contact-input input:-ms-input-placeholder, .inner-container .contact-input textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1rem;
  text-transform: uppercase;
}
.inner-container .contact-input input::-ms-input-placeholder, .inner-container .contact-input textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1rem;
  text-transform: uppercase;
}
.inner-container .contact-input input::placeholder,
.inner-container .contact-input textarea::placeholder {
  font-size: 0.8rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1rem;
  text-transform: uppercase;
}
.inner-container .contact-input input:focus,
.inner-container .contact-input textarea:focus {
  border-bottom: 2px solid #EBF8FF;
}
.inner-container .contact-input textarea {
  min-height: 130px;
  border: 2px solid #084b6d;
}

button {
  color: #084b6d;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #084b6d;
  color: #fff;
}
button:focus {
  background-color: #084b6d;
  color: #fff;
}

@media (max-width: 1100px) {
  .projects .portfolioOne .modalOne h3,
.projects .portfolioOne .modalTwo h3,
.projects .portfolioOne .modalThree h3,
.projects .portfolioOne .modalFour h3,
.projects .portfolioTwo .modalOne h3,
.projects .portfolioTwo .modalTwo h3,
.projects .portfolioTwo .modalThree h3,
.projects .portfolioTwo .modalFour h3,
.projects .portfolioThree .modalOne h3,
.projects .portfolioThree .modalTwo h3,
.projects .portfolioThree .modalThree h3,
.projects .portfolioThree .modalFour h3,
.projects .portfolioFour .modalOne h3,
.projects .portfolioFour .modalTwo h3,
.projects .portfolioFour .modalThree h3,
.projects .portfolioFour .modalFour h3 {
    font-size: 1.2rem;
  }
  .projects .portfolioOne .modalOne p,
.projects .portfolioOne .modalTwo p,
.projects .portfolioOne .modalThree p,
.projects .portfolioOne .modalFour p,
.projects .portfolioTwo .modalOne p,
.projects .portfolioTwo .modalTwo p,
.projects .portfolioTwo .modalThree p,
.projects .portfolioTwo .modalFour p,
.projects .portfolioThree .modalOne p,
.projects .portfolioThree .modalTwo p,
.projects .portfolioThree .modalThree p,
.projects .portfolioThree .modalFour p,
.projects .portfolioFour .modalOne p,
.projects .portfolioFour .modalTwo p,
.projects .portfolioFour .modalThree p,
.projects .portfolioFour .modalFour p {
    font-size: 0.8rem;
  }
  .projects .portfolioOne .modalOne li,
.projects .portfolioOne .modalTwo li,
.projects .portfolioOne .modalThree li,
.projects .portfolioOne .modalFour li,
.projects .portfolioTwo .modalOne li,
.projects .portfolioTwo .modalTwo li,
.projects .portfolioTwo .modalThree li,
.projects .portfolioTwo .modalFour li,
.projects .portfolioThree .modalOne li,
.projects .portfolioThree .modalTwo li,
.projects .portfolioThree .modalThree li,
.projects .portfolioThree .modalFour li,
.projects .portfolioFour .modalOne li,
.projects .portfolioFour .modalTwo li,
.projects .portfolioFour .modalThree li,
.projects .portfolioFour .modalFour li {
    padding: 4px 8px;
  }
  .projects .project-btn {
    padding: 6px 10px;
    font-size: 1rem;
    line-height: 0.8rem;
    cursor: pointer;
  }
}
@media (max-width: 1000px) {
  .image-container {
    display: none;
  }

  .about .aboutMatrix {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .aboutMatrix .textContainer {
    width: 100%;
    padding-bottom: 30px;
  }

  .contact .contact-text {
    width: 40%;
  }
  .contact .contact-text ul li i {
    font-size: 1.2rem;
  }
  .contact .contact-input {
    width: 90%;
    margin: 0;
  }

  footer {
    padding: 10px;
  }
}
@media (max-width: 850px) {
  .projects .firstRow,
.projects .secondRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .portfolioOne .modalOne h3,
.projects .portfolioOne .modalTwo h3,
.projects .portfolioOne .modalThree h3,
.projects .portfolioOne .modalFour h3,
.projects .portfolioTwo .modalOne h3,
.projects .portfolioTwo .modalTwo h3,
.projects .portfolioTwo .modalThree h3,
.projects .portfolioTwo .modalFour h3,
.projects .portfolioThree .modalOne h3,
.projects .portfolioThree .modalTwo h3,
.projects .portfolioThree .modalThree h3,
.projects .portfolioThree .modalFour h3,
.projects .portfolioFour .modalOne h3,
.projects .portfolioFour .modalTwo h3,
.projects .portfolioFour .modalThree h3,
.projects .portfolioFour .modalFour h3 {
    font-size: 2rem;
  }
  .projects .portfolioOne .modalOne p,
.projects .portfolioOne .modalTwo p,
.projects .portfolioOne .modalThree p,
.projects .portfolioOne .modalFour p,
.projects .portfolioTwo .modalOne p,
.projects .portfolioTwo .modalTwo p,
.projects .portfolioTwo .modalThree p,
.projects .portfolioTwo .modalFour p,
.projects .portfolioThree .modalOne p,
.projects .portfolioThree .modalTwo p,
.projects .portfolioThree .modalThree p,
.projects .portfolioThree .modalFour p,
.projects .portfolioFour .modalOne p,
.projects .portfolioFour .modalTwo p,
.projects .portfolioFour .modalThree p,
.projects .portfolioFour .modalFour p {
    font-size: 1rem;
  }
  .projects .portfolioOne .modalOne li,
.projects .portfolioOne .modalTwo li,
.projects .portfolioOne .modalThree li,
.projects .portfolioOne .modalFour li,
.projects .portfolioTwo .modalOne li,
.projects .portfolioTwo .modalTwo li,
.projects .portfolioTwo .modalThree li,
.projects .portfolioTwo .modalFour li,
.projects .portfolioThree .modalOne li,
.projects .portfolioThree .modalTwo li,
.projects .portfolioThree .modalThree li,
.projects .portfolioThree .modalFour li,
.projects .portfolioFour .modalOne li,
.projects .portfolioFour .modalTwo li,
.projects .portfolioFour .modalThree li,
.projects .portfolioFour .modalFour li {
    padding: 8px 16px;
  }
  .projects .project-btn {
    padding: 12px 24px;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .contact {
    padding-bottom: 50px;
  }
  .contact .inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-text {
    padding-bottom: 20px;
    width: 100%;
  }
  .contact .contact-text h2, .contact .contact-text p {
    padding-left: 30px;
  }
  .contact .contact-text ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .contact-text ul li i {
    font-size: 2rem;
  }
  .contact .contact-input {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 550px) {
  .about .aboutMatrix .image-profile {
    padding: 0;
  }
  .about .aboutMatrix .textContainer {
    padding-bottom: 50px;
  }

  .headerDisplay .text-container h1 {
    font-size: 0.6rem;
  }

  .menu_list .menu_link {
    font-size: 2.1rem;
  }

  .projects .portfolioOne .modalOne h3,
.projects .portfolioOne .modalTwo h3,
.projects .portfolioOne .modalThree h3,
.projects .portfolioOne .modalFour h3,
.projects .portfolioTwo .modalOne h3,
.projects .portfolioTwo .modalTwo h3,
.projects .portfolioTwo .modalThree h3,
.projects .portfolioTwo .modalFour h3,
.projects .portfolioThree .modalOne h3,
.projects .portfolioThree .modalTwo h3,
.projects .portfolioThree .modalThree h3,
.projects .portfolioThree .modalFour h3,
.projects .portfolioFour .modalOne h3,
.projects .portfolioFour .modalTwo h3,
.projects .portfolioFour .modalThree h3,
.projects .portfolioFour .modalFour h3 {
    font-size: 1.2rem;
  }
  .projects .portfolioOne .modalOne p,
.projects .portfolioOne .modalTwo p,
.projects .portfolioOne .modalThree p,
.projects .portfolioOne .modalFour p,
.projects .portfolioTwo .modalOne p,
.projects .portfolioTwo .modalTwo p,
.projects .portfolioTwo .modalThree p,
.projects .portfolioTwo .modalFour p,
.projects .portfolioThree .modalOne p,
.projects .portfolioThree .modalTwo p,
.projects .portfolioThree .modalThree p,
.projects .portfolioThree .modalFour p,
.projects .portfolioFour .modalOne p,
.projects .portfolioFour .modalTwo p,
.projects .portfolioFour .modalThree p,
.projects .portfolioFour .modalFour p {
    font-size: 0.8rem;
  }
  .projects .portfolioOne .modalOne li,
.projects .portfolioOne .modalTwo li,
.projects .portfolioOne .modalThree li,
.projects .portfolioOne .modalFour li,
.projects .portfolioTwo .modalOne li,
.projects .portfolioTwo .modalTwo li,
.projects .portfolioTwo .modalThree li,
.projects .portfolioTwo .modalFour li,
.projects .portfolioThree .modalOne li,
.projects .portfolioThree .modalTwo li,
.projects .portfolioThree .modalThree li,
.projects .portfolioThree .modalFour li,
.projects .portfolioFour .modalOne li,
.projects .portfolioFour .modalTwo li,
.projects .portfolioFour .modalThree li,
.projects .portfolioFour .modalFour li {
    padding: 4px 8px;
  }
  .projects .project-btn {
    padding: 6px 10px;
    font-size: 1rem;
    line-height: 0.8rem;
    cursor: pointer;
  }
}
@media (max-width: 450px) {
  .headerDisplay .text-container h1 {
    font-size: 0.1rem;
  }
  .headerDisplay .text-container p {
    font-size: 1rem;
  }

  .menu_list .menu_link {
    font-size: 1.8rem;
  }
}